USE [master]
GO
/****** Object:  Database [Fly]    Script Date: 25/12/2018 06:36:17 م ******/
CREATE DATABASE [Fly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Fly.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Fly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Fly_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fly]
GO
/****** Object:  Table [dbo].[AreasT]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreasT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Country] [int] NOT NULL,
	[AreaCoordinates] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_AreasT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Riders]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Riders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Country] [int] NOT NULL,
	[City] [int] NULL,
	[PhoneNumber] [int] NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[GenderId] [bit] NOT NULL,
 CONSTRAINT [PK_Riders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripCoordinates]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TripCoordinates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LongV] [varchar](50) NOT NULL,
	[LatV] [varchar](50) NOT NULL,
	[TripId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TripCoordinates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[RiderId] [int] NOT NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[Rate] [tinyint] NULL,
	[IsCancel] [bit] NULL,
	[TempRequest] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[IsPaid] [bit] NULL,
	[TotalDistance] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Trips] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SpecsId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[PlateNo] [nvarchar](20) NULL,
	[HolderId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[UniqueId] [nvarchar](250) NOT NULL,
	[ImageName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleSpecs]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleSpecs](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
 CONSTRAINT [PK_VehicleSpecs] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleStatus]    Script Date: 25/12/2018 06:36:17 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VehicleStatus](
	[VehicleId] [int] NOT NULL,
	[LatV] [varchar](50) NOT NULL,
	[LongV] [varchar](50) NOT NULL,
	[BatteryStatus] [int] NOT NULL,
	[InRide] [bit] NOT NULL,
	[InService] [bit] NOT NULL,
	[AreaId] [int] NULL,
 CONSTRAINT [PK_VehicleStatus] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TripCoordinates]  WITH CHECK ADD  CONSTRAINT [FK_TripCoordinates_Trips] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([Id])
GO
ALTER TABLE [dbo].[TripCoordinates] CHECK CONSTRAINT [FK_TripCoordinates_Trips]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_Riders] FOREIGN KEY([RiderId])
REFERENCES [dbo].[Riders] ([Id])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_Trips_Riders]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_Vehicles] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_Trips_Vehicles]
GO
ALTER TABLE [dbo].[VehicleSpecs]  WITH CHECK ADD  CONSTRAINT [FK_VehicleSpecs_Vehicles] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[VehicleSpecs] CHECK CONSTRAINT [FK_VehicleSpecs_Vehicles]
GO
ALTER TABLE [dbo].[VehicleStatus]  WITH CHECK ADD  CONSTRAINT [FK_VehicleStatus_AreasT] FOREIGN KEY([AreaId])
REFERENCES [dbo].[AreasT] ([Id])
GO
ALTER TABLE [dbo].[VehicleStatus] CHECK CONSTRAINT [FK_VehicleStatus_AreasT]
GO
ALTER TABLE [dbo].[VehicleStatus]  WITH CHECK ADD  CONSTRAINT [FK_VehicleStatus_Vehicles] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[VehicleStatus] CHECK CONSTRAINT [FK_VehicleStatus_Vehicles]
GO
USE [master]
GO
