
@{
    ViewBag.Title = "Agreement";
    Layout = null;
}

<p>Rabbit Rental Agreement, Waiver of Liability and Release</p>

Effective Date: 1st of May, 2019

PLEASE READ THIS AGREEMENT CAREFULLY. IT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE SERVICE.

In consideration of Your use of any of the Rabbit Services (defined below) provided by Scooters Rabbit, LLC. d/b/a Rabbit (“Rabbit”), Rabbit requires that You (“Rider,” “You,” or “Your”) (acting for all of Rider’s family, heirs, agents, affiliates, representatives, successors, and assigns) agree to all terms and conditions in this Rabbit Rental Agreement, Waiver of Liability and Release (“Agreement”).

The services provided by Rabbit include, among other things, (1) Rabbit mobile application (“Rabbit App”) and related website, (2) Rabbit Electric Vehicles (“Vehicle” or “Vehicles”), and (3) all other related equipment, personnel, services, applications, websites, and information provided or made available by Rabbit (collectively, the “Rabbit Services”).

In addition to the Terms of Service, located at https://www.rabbit-app.com/terms, You expressly agreed to when you signed up for Rabbit, You should CAREFULLY READ all terms and conditions before entering into this Agreement. Here is a partial list of some of the terms that Rabbit wants to bring to Your initial attention in the event You are on a smartphone or other device with a small screen. Capitalized terms have the meanings given to them where defined in this Agreement.
•	THIS AGREEMENT CONTAINS RELEASES, DISCLAIMERS, ASSUMPTION-OF-RISK PROVISIONS, AND A BINDING ARBITRATION AGREEMENT THAT MAY LIMIT YOUR LEGAL RIGHTS AND REMEDIES. FOR MORE DETAILS, PLEASE REFER TO SECTIONS 9 AND 15 BELOW
•	You must end your ride on the Rabbit App at the conclusion of the ride. If you fail to do so, You will continue to be charged. The maximum charge for a single trip under such circumstances is EGP 1,000 for 24 hours. For more details, please refer to Section 2.3 below.
•	Upon conclusion of Your ride, the Vehicle must be parked in the nearest Rabbit station in non-gated communities and not be parked at a prohibited parking spot, i.e. unauthorized private property, in a locked area, blocking the right of way, or in any other unapproved non-public space in gated communities.
•	All applicable laws and regulations (including, without limitation, those applicable to traffic, pedestrians, parking, charging and electric Vehicles) must be obeyed, including any helmet laws in Your city.
•	You must promptly report any damaged or malfunctioning Vehicles to Rabbit via the Rabbit App or e-mail.

Rabbit expressly agrees to let, and the Rider expressly agrees to take on, rental of the Vehicle subject to the terms and conditions set out herein. Unless otherwise indicated, all monetary values set forth in this Agreement shall be deemed to be denominated in Egyptian Pounds.

1. GENERAL RENTAL AND USE OF VEHICLE.

1.1 Rider is Sole User. Rabbit and the Rider are the only parties to this Agreement. The Rider is the sole renter and is solely responsible for compliance with all terms and conditions contained herein. You understand that when You activate a Vehicle from the location, the Vehicle must be used only by You. You must not allow others to use a Vehicle that You have activated from the location.

1.2 Rider is At Least 16 Years Old. Rider represents and certifies that Rider is at least 16 years old.

1.3 Rider is a Competent Vehicle Operator. Rider represents and certifies that he/she is familiar with the operation of the Vehicle, is reasonably competent and physically fit to ride the Vehicle, and has reviewed the safety materials provided in the Rabbit App and/or Rabbit’s website. By choosing to ride a Vehicle, Rider assumes all responsibilities and risks for any injuries or medical conditions. You are responsible for determining whether conditions, including, without limitation, rain, fog, heat or electrical storms, make it dangerous to operate a Vehicle. You are advised to adjust Your riding behavior and braking distance to suit the weather, visibility, surrounding environment, and traffic conditions.

1.4 Vehicle is the Exclusive Property of Rabbit. Rider agrees that the Vehicle and any Rabbit equipment attached thereto, at all times, remain the exclusive property of Rabbit. You must not dismantle, write on, or otherwise modify, repair or deface a Vehicle, any part of a Vehicle, or other Rabbit equipment in any way. You must not write on, peel, or otherwise modify or deface any sticker on a Vehicle in any way. You must not use a Vehicle, or other Rabbit equipment, for any advertising or other commercial purpose without the express written permission of Rabbit.

1.5 Vehicle Operating Hours and Vehicle Availability. Rider agrees and acknowledges that the Vehicles are not available 24 hours a day, 7 days/week, 365 days per year. Vehicles must be rented during operating hours and within the maximum rental time limits set forth below. The number of Vehicles are limited and Vehicle availability is never guaranteed. Rider agrees that Rabbit may require Rider to return a Vehicle at any time.

1.6 Operating Area. Rider agrees not to use, operate, and/or ride the Vehicle in any no-ride zone and further agrees not to transport the Vehicle outside of permitted service areas.

1.7 Rider Must Follow Laws Regarding Use and/or Operation of Vehicle. Rider agrees to follow all laws pertaining to the use, riding, parking, charging, and/or operation of the Vehicle, including all state and local laws and the rules and regulations pertaining to Vehicles in the area where You are operating the Vehicle, including any helmet laws. Rider also agrees to act with courtesy and respect toward others while using the Rabbit Services.

1.8 Prohibited Acts. Rider agrees to the following:
•	Rabbit recommends against operation of a Vehicle while carrying or holding a briefcase, backpack, bag, or other item that can alter balance, add extra weight, or impair safe operation of the Vehicle. If You choose to use such an item, You do so at your own peril; Rabbit recommends that You ensure the item fits snugly to Your body and does not impede Your ability to operate the Vehicle safely.
•	You must not place any objects on the handlebar of the Vehicle, such as backpacks or bags.
•	While riding a Vehicle, You must not use any cellular telephone, text messaging device, portable music player, or other device that may distract You from operating the Vehicle safely.
•	You must not operate a Vehicle while under the influence of any alcohol, drugs, medication, or other substance that may impair Your ability to operate a Vehicle safely.
•	You must not carry a second person or child on a Vehicle.
•	You may only use locking mechanisms provided by Rabbit. You may not add another lock to the Vehicle or lock a Vehicle other than in accordance with Rabbit’s instructions.
•	The Vehicle must not be parked at a prohibited parking spot. The Vehicle cannot be parked on unauthorized private property, in a locked area, blocking the right of way, or in any other unapproved non-public space. You should not park the Vehicle in heavily trafficked areas if the Vehicle is in danger of being knocked down.
•	The Vehicle must be parked in a space that is visible, and in an upright position using the kickstand.

1.9 Vehicle is Intended for Only Limited Types of Use. Rider agrees that he/she will not use the Vehicle for racing, mountain riding, or stunt or trick riding. Rider agrees that he/she will not operate and/or use the Vehicle on unpaved roads, through water (beyond normal urban riding), or in any location that is prohibited, illegal, and/or a nuisance to others. Rider agrees that he/she will not use the Vehicle for hire or reward, nor use it in violation of any law, ordinance or regulation. Rider agrees to have his/her credit card charged a maximum of EGP 12,000 in case the Vehicle becomes inoperable due to performing limited type of use (trick riding, through water, jumping sidewalks, etc..).

1.10 Weight and Cargo Limits. You must not exceed the maximum weight limit for the Vehicle (100 kilograms unless otherwise indicated).

1.11 No Tampering; No Unauthorized Use. You must not tamper with, attempt to gain unauthorized access to, or otherwise use the Rabbit Services other than as specified in this Agreement.

1.12 Reporting of Damage or Crashes; Traffic Violations and Enforcement. Rider must report any accident, crash, damage, personal injury traffic violation, or stolen or lost Vehicle to Rabbit as soon as possible. If a crash involves personal injury, property damage, or a stolen Vehicle, Rider shall file a report with the local police department within 24 hours. Rider agrees that he/she is responsible and liable for any misuse, consequences, claims, demands, causes of action, losses, liabilities, damages, injuries, costs and expenses, penalties, attorney’s fees, judgments, suits or disbursements of any kind or nature whatsoever related to a stolen or lost Vehicle.
•	YOUR AUTOMOTIVE INSURANCE POLICIES MAY NOT PROVIDE COVERAGE FOR ACCIDENTS INVOLVING OR DAMAGE TO THIS VEHICLE. TO DETERMINE IF COVERAGE IS PROVIDED, YOU SHOULD CONTACT YOUR AUTOMOTIVE INSURANCE COMPANY OR AGENT
Rider agrees that traffic violations and related citations, fines or impound charges are at the risk and expense of the Rider, including in connection with improper or unauthorized parking at the end of the rental period.

Rider agrees and acknowledges that Rabbit may cooperate with law enforcement to provide any information necessary as they may request or may otherwise be required.

1.13 Rider Responsibility for Vehicle Use and Damage. Rider agrees to return the Vehicle to Rabbit in the same condition in which it was rented. Rider will not be responsible for normal wear and tear.

1.14 Electric Vehicle. The Vehicle is an electric Vehicle that requires periodic charging of its battery in order to operate. Rider agrees to use and operate the Vehicle safely and prudently in light of the Vehicle being an electric Vehicle and all of the limitations and requirements associated therewith. Rider understands and agrees with each of the following:
•	The level of charge power remaining in the Vehicle will decrease with use of the Vehicle (over both time and distance), and that as the level of charge power of the Vehicle decreases, the speed and other operational capabilities of the Vehicle may decrease (or cease in their entirety).
•	The level of charging power in the Vehicle at the time Rider initiates the rental or operation of the Vehicle is not guaranteed and will vary with each rental use.
•	The rate of loss of charging power during the use of the Vehicle is not guaranteed and will vary based on the Vehicle, road conditions, weather conditions, and other factors.
•	It is Rider’s responsibility to check the level of charge power in the Vehicle and to ensure that it is adequate before initiating operation of the Vehicle.
•	The distance and/or time that Rider may operate the Vehicle before it loses charging power is never guaranteed.
•	The Vehicle may run out of charging power and cease to operate at any time during Rider’s rental of the Vehicle, including before reaching Rider’s desired destination.
1.15 No Charging of Vehicle. If the Vehicle runs out of charging power during a rental, Rider shall conclude the ride in compliance with all terms of this Agreement.

Rider agrees that he/she is responsible and liable for any misuse, consequences, claims, demands, causes of action, losses, liabilities, property or fire or other damages, injuries, costs, and expenses, penalties, attorney’s fees, judgments, suits, or disbursements of any kind or nature whatsoever related to Rider charging or attempting to charge the Vehicle. By choosing to charge a Vehicle, Rider assumes full and complete responsibility for all related risks, dangers, and hazards, and Rider agrees that Rabbit and all other Released Persons (defined below in Section 15) are not responsible for any injury, damage, or cost caused by Rider with respect to any person or property, including the Vehicle itself, directly or indirectly related to the charging of the Vehicle.

1.16 Mobile Device Requirements and Active Internet Connection. Unless otherwise instructed by Rabbit in writing, to activate Rabbit Services with the Rabbit App, You must use a smartphone or any other (mobile) device that meets the technical requirements for and is compatible with the Rabbit App. Certain functions of the Rabbit App, such as the possibility to register with Rabbit, to unlock, rent and end the rental of the Vehicle require that the Rabbit App has an active network connection. You are responsible for the availability and costs of Your mobile data communication services. You are also responsible for ensuring that Your mobile device has adequate battery capacity. Rabbit shall not be responsible if You are unable to unlock, use or end the ride of the Vehicle as a result of lost or interrupted network connection, mobile device malfunction, or depleted battery. You shall remain responsible for and Rabbit may charge You all costs (including rental fees) incurred until the ride is ended.

2. PAYMENT AND FEES.

2.1 Fees. Rider may use the Vehicle in accordance with the pricing described in the Rabbit App, which may include a ride start fee, fees based on distance or time (with time rounded up to the nearest minute), and/or a required minimum fee. Pricing is subject to change. In each case, fees and other charges may be subject to applicable taxes and other local government charges, which may be charged and collected by Rabbit. Rabbit will charge the Rider (through credit, or debit card or through another agreed payment method) the amount of the fees as described in this Agreement, including any recurring payment you choose.

2.2 Referral and/or Promotional Codes.

Rabbit may, in its sole discretion, create referral and/or promotional codes (“Promo Codes”) that may be used for discounts or credits on Rabbit Services or other features or benefits provided by Rabbit, subject to any additional terms that Rabbit establishes. You agree that Promo Codes: (i) must be used for the intended audience and purpose, and in a lawful manner; (ii) may not be duplicated, sold or transferred in any manner, unless expressly permitted by Rabbit; (iii) may be disabled by Rabbit at any time for any reason without liability to Rabbit; (iv) may only be used pursuant to the specific terms that Rabbit establishes for such Promo Code; (v) are not valid for cash; (vi) may be subject to quantity or value limits; and (vii) may expire prior to your use. Rabbit reserves the right to withhold or deduct credits or other features or benefits obtained through the use of the referral system or Promo Codes by you or any other user in the event that Rabbit determines or believes that the use of the referral system or use or redemption of the Promo Code was in error, fraudulent, illegal, or otherwise in violation of this Agreement or specific terms applicable to such Promo Codes.

2.3 Maximum Rental Time and Charges. In the case of Rabbit’s ride sharing option, the maximum rental time is 24 hours. Rider agrees that Rider will deactivate the Vehicle rental within 24 hours of renting a Vehicle. Rider may then rent again. Rider agrees that he/she is solely responsible for being aware of the length of any elapsed ride time. The maximum day charge is EGP 1,000 and is based on a calendar day. After 24 hours, Rider will be charged the accumulated rental charges, or the maximum day charge, whichever is less.

Rental time will be calculated from the moment of unlocking the Rabbit through the Rabbit App until the Rider receives the confirmation through the Rabbit App that the ride has been ended. If You end the ride incorrectly, this may result in the Ride not being terminated. If the ride is not ended properly, the Ride will continue and the Rider will continue to be charged. If you have technical issues terminating a ride for any reason, You should report this to Rabbit through the Rabbit App immediately. Failure to report an issue in terminating a ride may result in continued charges.

Vehicles not returned (with the ride concluded) within 48 hours will be considered lost or stolen, and Rider may be charged up to the value of the Vehicle plus administrative and processing fees. Rabbit may also charge additional service fees for rentals in excess of 24 hours where the Vehicle is not lost or stolen.

2.4 Valid Payment Method. To be registered to use the Rabbit Services, Rider must provide Rabbit with a valid credit, debit card or prepaid card number and expiration date or other valid payment method information. Rider represents and warrants to Rabbit that Rider is authorized to use any credit, debit or prepaid card or other payment method information Rider furnishes to Rabbit. By providing your payment method, You agree that Rabbit is authorized to charge You for your ride and any other fees incurred by Rider under this Agreement, including all applicable governmental and regulatory charges and applicable sales and other taxes.

When you provide a payment method or in accordance with Rabbit policies, our system will attempt to verify the information you entered. We do this by processing an authorization hold, which is a standard practice. We do not charge you in connection with this authorization hold. If Your payment method expires and You do not update your information or cancel your account, You authorize us to continue billing, and You will remain responsible for any uncollected amounts. We reserve the right to retry billing all payment method(s) on file after any failed billing attempt. You will remain liable for all such amounts and all costs incurred in connection with the collection of these amounts, including, without limitation, bank overdraft fees, collection agency fees, reasonable attorneys’ fees, and arbitration or court costs.

Rider agrees that Rabbit may, in its sole discretion, pay all traffic tickets, impound fees, fines and/or charges on Rider’s behalf directly to the appropriate authority or applicable party. If Rabbit is required to pay and/or process such fees or associated costs, Rider agrees that Rabbit may charge You for the amount Rabbit pays plus a reasonable administration charge for dealing with these matters; Rabbit will provide notice of any such costs or fees.

In the event Rabbit uses a third party collection and/or administrative agent to resolve any tickets, damages, infringements of law or of this Agreement, fines and/or penalties, Rider agrees to pay all costs and collection fees including, but not limited to, administrative and legal costs to such agent upon demand without protest.

If Rider disputes any charge on Rider’s payment method, then Rider must contact Rabbit within 10 business days from the end of the month with the disputed charge, and provide to Rabbit all trip information that is necessary to identify the disputed charge, such as the date of the trip and the approximate starting and ending times of the ride associated with the disputed charge. Rider agrees to immediately inform Rabbit of all changes relating to the payment method.

If You have agreed to make automatic or recurring payments, such payments will continue until you cancel or your account is terminated. You can cancel by following the instructions on the Rabbit App. If you cancel, You may use any remaining balance on your account but may not be able to continue using Rabbit Services until you have reauthorized an applicable payment method. Rabbit may continue to charge your payment method for any additional fees or charges incurred under this Agreement.

2.5 Pick Up Fees. If You are unable to return a Vehicle to a valid area (i.e. You deactivate the Vehicle on private property, a locked community, or another unreachable area), and request that the Vehicle be picked up by Rabbit staff, Rabbit, at its sole discretion, may charge You a pick-up fee. If any Vehicle accessed under Your account is abandoned without notice, You will be responsible for all trip fees until the Vehicle is recovered and deactivated, plus a service charge to recover the Vehicle. Fees are subject to change.

3. ADDITIONAL TERMS OF USE.

3.1 Safety Check. Before each use of a Vehicle, Rider shall conduct a basic safety inspection of the Vehicle, which includes inspecting the following: (i) trueness of the wheels; (ii) safe operation of all brakes and lights; (iii) good condition of the frame; (iv) sufficient battery charge power; and (iv) any sign of damage, unusual or excessive wear, or other open and obvious mechanical problem/maintenance need. Rider agrees not to ride the Vehicle if there are any noticeable issues, and to immediately notify customer service to alert Rabbit of any problems.

3.2 Lost or Stolen Vehicle. A Vehicle may be deemed lost or stolen if (a) the Vehicle is not returned within 24 consecutive hours, (b) the Vehicle’s GPS unit is disabled, (c) the Vehicle is parked on unauthorized private property, in a locked area, or in any other non-public space for more than ten minutes after a ride ends, (d) the Vehicle moves more than thirty feet after a rental has ended and Rabbit believes such movement was not caused by another Rider or authorized third party, or (e) other facts and circumstances that suggest to Rabbit in its reasonable, good faith determination that a Vehicle has been lost or stolen. Rabbit and You agree that the last Rider of a Vehicle shall be responsible for a lost or stolen Vehicle unless facts and circumstances suggest otherwise to Rabbit in its reasonable, good faith determination. If Rabbit deems a Vehicle lost or stolen, Rabbit shall have the authority to take any and all actions it deems appropriate (with respect to the last Rider of a Vehicle or otherwise), including (without limitation) obtaining restitution and other appropriate compensation and damages and filing a police report with local authorities. Rider agrees the data generated by Rabbit’s computer is conclusive evidence of the period of use of a Vehicle by a Rider. Rider agrees to report Vehicle disappearance or theft to Rabbit immediately or as soon as possible.

3.3 Helmets; Safety. Rabbit recommends that all Riders wear a Snell, CPSC, ANSI or ASTM approved helmet that has been properly sized, fitted and fastened according to the manufacturer’s instructions. Rabbit and all other Released Persons (defined below in Section 15) do not represent or warrant the quality or safety characteristics of any helmet, and Rider agrees that none of the Released Persons is liable for any injury suffered by Rider while using any of the Rabbit Services, whether or not Rider is wearing a helmet at the time of injury. Rider assumes all risk of not wearing a helmet or other protective gear. Rider may need to take additional safety measures or precautions not specifically addressed in this Agreement.

3.4 Vehicle Routes. Rider agrees that Rabbit does not provide or maintain places to ride Vehicles, and that Rabbit does not guarantee that there will always be a safe place to ride a Vehicle. Roads, sidewalks, vehicle lanes, and vehicle routes may become dangerous due to weather, traffic, or other hazards.

3.5 Limitations on Vehicle Rental. Rider agrees that Rabbit is not a common carrier. Alternative means of public and private transportation are available to the general public and to Rider individually, including public buses and rail service, taxis, and pedestrian paths. Rabbit provides Vehicles only as a convenience, and such rental availability is intended to be used only by those persons who are able and qualified to operate a Vehicle on their own and who have agreed to all terms and conditions of this Agreement.

4. Termination. At any time and from time to time, and without Rider’s consent, Rabbit may unilaterally terminate Rider’s right to use the Rabbit Services, in Rabbit’s sole discretion and without any notice or cause. Rider may terminate Rider’s use of the Rabbit Services at any time; provided, however, that (i) no refund will be provided by Rabbit, (ii) the term of this Agreement continues in accordance with this Agreement, and (iii) Rider may still be charged any applicable additional fees in accordance with this Agreement. This Agreement remains in full force and effect, in accordance with its terms and conditions, after any termination of Rider’s right to use any of the Rabbit Services, regardless of how the Agreement is terminated.

5. Confidentiality of Information; Privacy Policies. You understand and agree that all personal information that is held by Rabbit and pertains to Riders, including all names, addresses, phone numbers, email addresses, passwords, payment information, and other information will be kept by Rabbit in accordance with its privacy policy located at http://www.rabbit-app.com/privacy/

6. License to Image and Likeness. For good and valuable consideration, the receipt and adequacy of which are hereby acknowledged, You do hereby knowingly, voluntarily, and irrevocably: (1) give Your full and unconditional consent to Rabbit and its affiliates, successors, and assigns to use at any time and from time to time, without any restriction, Your appearance and voice in photographs, videos, and other recordings related to Your use of the Rabbit Services, on all websites and for all press, promotional, advertising, publicity, and other commercial purposes, including all formats and media, whether now known or hereafter devised, throughout the world and in perpetuity; (2) grant to Rabbit and its affiliates, successors, and assigns (a) the right to photograph, videotape, and otherwise record Your appearance and voice related to Your use of the Rabbit Services, at any time and from time to time, (b) all rights, copyrights, title, and interests in the results of such photographs, videos, and other recordings, as a work for hire for copyright purposes, and (c) the right to use, reproduce, exhibit, distribute, transmit, alter, and exploit, at any time and from time to time and as Rabbit may decide in its sole discretion, such photographs, videos, and other recordings, or any component thereof, and all related merchandising, promotions, advertising, and publicity; and (3) waive, release, and discharge all Released Persons from all Claims (defined below in Section 15) that You have or may have for any libel, defamation, invasion of privacy, right of publicity, infringement of copyright, or violation of any right granted by You in this paragraph.

7. Notice. Rabbit may be contacted by emailing support@rabbit-app.com or by mail at 410 West Golf, New Cairo, Cairo, Egypt.

8. Choice of Law; Dispute Resolution. This Agreement is governed by, and must be construed and enforced in accordance with, the laws of the Eypt, excluding principles of conflicts of laws. For every dispute regarding this Agreement: (i) the prevailing party is entitled to its costs, expenses, and reasonable attorney fees (whether incurred at trial, on appeal, or otherwise) incurred in resolving or settling the dispute, in addition to all other damages or awards to which the party may be entitled; (ii) each party consents to the jurisdiction of the courts of the Egypt and agrees that those courts have personal jurisdiction over each party; (iii) venue must be in Cairo, Egypt.

9. Binding Arbitration and Class Action Waiver

PLEASE READ THIS SECTION CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT.

9.1 Initial Dispute Resolution. Rider Support is available via the Rabbit App to address any concerns you may have regarding your use of a Vehicle and/or this Agreement. The parties shall use their best efforts through this support process to settle any dispute, claim, question, or disagreement and engage in good faith negotiations which shall be a condition to either party initiating mediation, arbitration, or a lawsuit.

9.2 Binding Arbitration

If the parties do not reach an agreed upon solution through the support process, then either party may initiate binding arbitration as the sole means to resolve claims, subject to the terms set forth below. Specifically, all claims arising out of or relating to use and rental of a Vehicle, this Agreement, and the parties’ relationship with each other shall be finally settled by binding arbitration administered by Cairo Regional Center For International Commercial Arbitration (“CRCICA”), or alternatively a mutually agreed upon arbitrator or arbitration service, under the applicable commercial arbitration rules for CRCICA or the mutually agreed upon arbitration service, excluding any rules or procedures governing or permitting class actions.

The arbitrator, and not any federal, state or local court or agency, shall have exclusive authority to resolve all disputes arising out of or relating to the interpretation, applicability, enforceability or formation of this Agreement, including, but not limited to any claim that all or any part of this Agreement are void or voidable, or whether a claim is subject to arbitration. The arbitrator shall be empowered to grant whatever relief would be available in a court under law or in equity. The arbitrator’s award shall be written, and binding on the parties and may be entered as a judgment in any court of competent jurisdiction.

To the extent the filing fee for the arbitration exceeds the cost of filing a lawsuit, Rabbit will pay the additional cost. The arbitration rules also permit you to recover attorney’s fees in certain cases. The parties understand that, absent this mandatory provision, they would have the right to sue in court and have a jury trial. They further understand that, in some instances, the costs of arbitration could exceed the costs of litigation and the right to discovery may be more limited in arbitration than in court.

9.3 Location. The arbitration will take place in Cairo, Egypt or a mutually agreed upon location.

9.4 Class Action Waiver. The parties further agree that any arbitration shall be conducted in their individual capacities only and not as a class action or other representative action, and the parties expressly waive their right to file a class action or seek relief on a class basis. YOU AND RABBIT AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. If any court or arbitrator determines that the class action waiver set forth in this paragraph is void or unenforceable for any reason or that an arbitration can proceed on a class basis, then the arbitration provision set forth above shall be deemed null and void in its entirety and the parties shall be deemed to have not agreed to arbitrate disputes.

9.5 Litigation of Intellectual Property and Court of First Instance Claims. Notwithstanding the parties’ decision to resolve all disputes through arbitration, either party may bring an action in state or federal court to protect its intellectual property rights (“intellectual property rights” means patents, copyrights, moral rights, trademarks, and trade secrets, but not privacy or publicity rights). Either party may also seek relief in a small claims court for disputes or claims within the scope of that court’s jurisdiction.

9.6 Right to Opt Out. You have the right to opt-out and not be bound by the arbitration and class action waiver provisions set forth above by sending written notice of your decision to opt-out to the following address: Scooters Rabbit LLC., 410 West Golf, New Cairo, Cairo, Egypt. The notice must be sent within 30 days of the effective date or your first use of the Service, whichever is later, otherwise you shall be bound to arbitrate disputes in accordance with the terms of those paragraphs. If you opt-out of these arbitration provisions, Rabbit also will not be bound by them.

9.7 Changes to this Section

Rabbit will provide prior written notice of any changes to this section. Changes will become effective only after prior written notice and will apply prospectively only to any claims arising after the notice period.

For any dispute not subject to arbitration you and Rabbit agree to submit to the personal and exclusive jurisdiction of and venue in the courts located in Cairo, Egypt . You further agree to accept service of process by mail, and hereby waive any and all jurisdictional and venue defenses otherwise available.

10. Waiver and Severability. No waiver of any breach of any provision of this Agreement is a waiver of any other breach or of any other provision of this Agreement. The provisions of this Agreement are independent of and separable from each other, and no provision shall be affected or rendered invalid or unenforceable by virtue of the fact that for any reason any other or others of them may be invalid or unenforceable in whole or in part.

11. Cumulative Remedies. All rights and remedies granted under or referred to in this Agreement are cumulative and nonexclusive, and resort to one does not preclude the availability or applicability of another or to any other right or remedy provided by law.

12. Final Agreement; Modification by Rabbit. This Agreement contains the complete, final, and exclusive integrated agreement between the parties with respect to its subject matter. This Agreement supersedes all other prior agreements, written or oral, relating to such subject matter. At any time and from time to time, and without Rider’s consent, Rabbit may unilaterally amend, modify, or change this Agreement, in its sole discretion. By continuing to use any of the Rabbit Services after any amendment, modification, or change, Rider has agreed to be bound by all such amendments, modifications, and changes. Rider must carefully review this Agreement on a regular basis to maintain awareness of all amendments, modifications, and changes. Whenever a change is made to this Agreement, Rabbit will post a notification on the Website. The pricing set forth on the Website or Rabbit App supersedes all pricing set forth in this Agreement.

13. Contract Interpretation. The headings in this Agreement do not affect the interpretation of this Agreement. “Or” is not to be exclusive in its meaning. “Including” means “including, but not limited to.” Unless the context otherwise requires, words in the singular number or in the plural number shall each include the singular number or the plural number. All pronouns include the masculine, feminine, and neuter pronoun forms.

14. Voluntary Execution of this Agreement. This Agreement is entered into voluntarily, with consideration, and without any duress or undue influence on the part or behalf of Rabbit. Rider acknowledges that he/she (a) has read this Agreement; (b) understands the terms and consequences of this Agreement, including the releases it contains; and (c) is fully aware of the legal and binding effect of this Agreement.

15. RELEASES; DISCLAIMERS; ASSUMPTION OF RISK.

In exchange for Rider being allowed to use Rabbit Services, Vehicles, and other equipment or related information provided by Rabbit, Rider agrees to fully release, indemnify, and hold harmless Rabbit and all of its owners, managers, affiliates, employees, contractors, officers, directors, shareholders, agents, representatives, successors, assigns, and to the fullest extent permitted by law any Municipality (including its elected and appointed officials, officers, employees, agents, contractors, and volunteers) in which Rider utilizes Rabbit Services, and every property owner or operator with whom Rabbit has contracted to operate Rabbit Services and all of such parties’ owners, managers, affiliates, employees, contractors, officers, directors, shareholders, agents, representatives, successors, and assigns (collectively, the “Released Persons”) from liability for all “Claims” arising out of or in any way related to Rider’s use of the Rabbit Services, Vehicles, or related equipment, including, but not limited to, those Claims based on Released Persons’ alleged negligence, breach of contract, and/or breach of express or implied warranty, except for Claims based on Released Persons’ gross negligence or willful misconduct. Such released are intended to be general and complete releases of all Claims.

“Claims” means, collectively, any and all claims, injuries, demands, liabilities, disputes, causes of action (including statutory, contract, negligence, or other tort theories), proceedings, obligations, debts, liens, fines, charges, penalties, contracts, promises, costs, expenses (including attorney’s fees, whether incurred at trial, on appeal, or otherwise), damages (including but not limited to, for personal injury, wrongful death, property damage, and injury to rider or to third parties, consequential, compensatory, or punitive damages), or losses (whether known, unknown, asserted, unasserted, fixed, conditional, or contingent) that arise from or relate to (a) any of the Rabbit Services, including any of the Vehicles, placement, equipment, maintenance, related information, this agreement or (b) Rider’s use of any of the foregoing.

To the fullest extent permitted by law, and as to Rider’s use of any of the Rabbit Services, Vehicles, or related equipment, Rabbit and all other Released Persons disclaim all express and implied warranties, including warranties of merchantability and fitness for a particular purpose. All of the Rabbit Services, Vehicles, and related equipment are provided “as is” and “as available,” and Rider relies on them at Rider’s own risk.

Rider is aware that Rider’s use of any of the Rabbit Services, Vehicles, and related equipment involves obvious and not-so-obvious risks, dangers, and hazards that may result in injury or death to Rider or others and damage to property, and that such risks, dangers, and hazards cannot always be predicted or avoided. Risks, dangers, and hazards, include, but are not limited to:
•	vehicles and other objects;
•	pedestrians;
•	traffic;
•	Vehicle or component malfunction;
•	road conditions;
•	weather conditions;
•	failure to follow applicable laws regarding use and/or operation of the Vehicle pursuant to Section 1.7;
•	commission of any of the prohibited acts listed in Section 1.8;
•	failure to perform the required safety check pursuant to Section 3.1;
•	failure to wear a helmet where required by law; and
•	negligent acts or omissions by Rabbit, any other Released Person, Rider, or third party.
Rider is solely and fully responsible for the safe operation of Vehicle at all times. Rider agrees that Vehicles are machines that may malfunction, even if the Vehicle is properly maintained and that such malfunction may cause injury. Rider assumes full and complete responsibility for all related risks, dangers, and hazards.

To the fullest extent permitted by law, this release and hold harmless agreement includes any and all Claims related to or arising from the sole or partial negligence of Rabbit, the Released Parties, any Municipality or any other party. Rider hereby expressly waives any claims against the Released Parties, any Municipality or any other party which Rider does not know or suspect to exist in his or her favor at the time of use of Rabbit Services, and expressly waives Rider’s rights under any statutes that purport to preserve Rider’s unknown claims.


Addendum for Rental Packages Program

The following terms apply with respect to the rental of Rabbit Vehicles under the Rental Packages Program (“Personal Rentals”). With respect to Personal Rentals, the terms of this Addendum shall take priority over any inconsistent or contradictory terms in the Agreement. All other terms of the Agreement shall apply.

1. General. Under the Rental Packages program, Rabbit may rent a Vehicle to You for Your personal use on an extended basis, such as on daily, three days, weekly or monthly basis. Except as specified in this Addendum, You are responsible for the rented Vehicle during the entire Personal Rentals period, including safeguarding the Vehicle at all times, storing the Vehicle securely overnight and when not in use, and ensuring the Vehicle has adequate charge for Your use. As a Personal Rental, the Vehicle shall not be available for rent by other Riders. In addition, you may not use the Vehicle for commercial purposes without Rabbit’s consent.

2. Availability. The Rental Packages program may only be available in select areas and for select time periods, in Rabbit’s discretion. Rabbit may suspend or terminate the program at any time.

3. Delivery & Pick-Up. The rented Vehicle will be delivered at a permissible designated location on an available delivery date that You request, subject to availability and weather conditions. For Vehicle pick-up, You must inform Rabbit if the pick-up will be from a location other than the delivery location. Upon return of the Vehicle, You will also be required to return any provided equipment such as power cords and locks. You shall be responsible for all costs associated with failure to return a Vehicle at the scheduled date and time and in the same condition it was delivered to you (ordinary wear and tear excepted), and for any failure to return all other equipment provided to you.

4. Damage to Vehicles

a. You should report any damage, malfunction or other functional impairment of the Vehicle through the Rabbit App. Rabbit will review the information you provide and may request additional information. After review, Rabbit may, in its discretion, offer to swap the Vehicle for another Vehicle or request return of the Vehicle, in which case it will schedule an appropriate drop-off & delivery time with You.

b. Rabbit reserves the right to charge You for damage to the Vehicles caused by you or others (including any vandalism), water damage, or theft, up to the value of the Vehicle plus administrative and processing fees. You shall not be responsible for ordinary wear and tear incurred in the ordinary use of the Vehicle.

5. Charging the Vehicle. Notwithstanding Section 1.15, you are responsible for charging the Vehicle using a charging cord approved by Rabbit to ensure the Vehicle has adequate battery capacity for your intended use. The following provision of Section 1.15 remains in effect:

Rider agrees that he/she is responsible and liable for any misuse, consequences, claims, demands, causes of action, losses, liabilities, property or fire or other damages, injuries, costs, and expenses, penalties, attorney’s fees, judgments, suits, or disbursements of any kind or nature whatsoever related to Rider charging or attempting to charge the Vehicle. By choosing to charge a Vehicle, Rider assumes full and complete responsibility for all related risks, dangers, and hazards, and Rider agrees that Rabbit and all other Released Persons (defined below in Section 15) are not responsible for any injury, damage, or cost caused by Rider with respect to any person or property, including the Vehicle itself, directly or indirectly related to the charging of the Vehicle.

6. Fees. Fees for Personal Rentals shall be as specified in the Rabbit App and are non-refundable. Fees will be charged beginning on the date the Vehicle is delivered. Fees may continue on a recurring basis until cancelled or otherwise terminated.

7. Maximum Rental Time. Section 2.3 of the Agreement shall not apply to Personal Rentals.

8. Lost or Stolen Vehicle. Section 3.2 is hereby replaced with this paragraph. A Vehicle may be deemed lost or stolen if (a) the Vehicle is not returned upon the expiration of the Personal Rentals term; or (b) Rabbit otherwise has reasonable basis to believe the Vehicle may be lost or stolen. If Rabbit deems a Vehicle lost or stolen, Rabbit shall have the authority to take any and all actions it deems appropriate, including (without limitation) obtaining restitution and other appropriate compensation and damages and filing a police report with local authorities. Rider agrees to report Vehicle disappearance or theft to Rabbit immediately or as soon as possible.


RIDER ACCEPTANCE OF AGREEMENT

I certify that I have read and expressly agree to the terms and conditions of Section 15 Releases; Disclaimers; Assumption of Risk, and I acknowledge that this section limits my legal rights and remedies. I intend my assent to this Agreement to be a complete and unconditional release of all liability to the greatest extent permitted by law. I represent and certify that I am familiar with the operation of the Vehicle, and am reasonably competent and physically fit to ride the Vehicle.

I certify that I am the Rider, I am 16 years old or over, I will wear a helmet where required by law, I will not ride a Rabbit with another occupant, I will obey all traffic laws, I will ride at my own risk, and I have read and expressly agree to the terms and conditions set forth in this Agreement.



