@model List<Fly.DAL.Vehicles>
@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<a href="/Home/AddNew" >Add New</a>
<br />
@foreach (var item in Model)
{
    @item.Name
}