
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<body>
    <div>
        <div style="font-size:16px; font-weight:bold;">
            @{
                bool isSuccess = ViewBag.IsSuccess;
            }

            @(isSuccess ? "Error Occurred, please try again." : "Successfully payment.")

        </div>
    </div>
</body>
</html>
